extends layout.jade
block content
	.home-content-container
		.all-content
			.content1
				.info-container(style="background-image:url('images/Group.png')")
				a.login-btn(href="main") CONNECT WITH FACEBOOK