html
	head
		title= title
		link(rel="stylesheet", type="text/css", href="/stylesheets/trial.css")
		//- script(src="http://maps.googleapis.com/maps/api/js?sensor=false")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBZJ-055GM2ddbLbz9b2fVQzX1-ibq2Js&libraries=places")
		script(src="/javascripts/requires.js", data-main="/javascripts/main")

	body(class="body")
	header
		include ../src/javascripts/templates/header.jade
	#main-content
		block content
	footer
		include ../src/javascripts/templates/footer.jade