.map-component {
  position: relative;
}
.map-container {
  height: 500px;
  width: 500px;
}
.audio-player {
  position: absolute;
  bottom: 0px;
  background-color: #fff;
}
.audio-player.hide {
  display: none;
}
